ADMIN_EMAIL_ADDRESS="my-admin-email-address"
#
# GMail client
#
GMAIL_USERNAME="my-gmail-username"
GMAIL_PASSWORD="my-gmail-app-password"
#
# reCAPTCHA client
#
CAPTCHA_SECRETKEY="my-recaptcha-secret-key"
CAPTCHA_SITEKEY="my-recaptcha-site-key"