<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Kosal Vann, Software Engineer @ActiveCampaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Mono:wght@400;500;700&IBM+Plex+Sans:wght@400;700&family=Merriweather:wght@300;700&family=Material+Icons+Outlined&display=swap"
      rel="stylesheet"
    />
    <link href="/css/styles.min.css" rel="stylesheet" />
  </head>
  <body class="{{bodyClassName}}">

    {{{ body }}}

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-48666004-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag('config', 'UA-48666004-2');
    </script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LdmMEsgAAAAAEwNIwFcigE8TG1lc_tG7YPsUaW7"></script>
  </body>
</html>
